$yellow: #fffa19; 
$red: #ff0000;
$green: #00bb2d;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin bColor(){
    background-color: $yellow;
}

@mixin padd(){
    padding: 10px 10px 0 10px;
}

.jumbotron {
    @include bColor();
    color: black;
    @include margenes(50px, 0px);
}

.footer {
    @include padd();
    @include bColor();
    @include margenes(10px, 0px);
    font-size: 1.50rem;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.card-hotel {
    flex: 1 200px;
    @include padd();
    @include margenes(10px, 0px);
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}
